<section>
  <h1>Chat</h1>
  <a href="https://www.flowdock.com/invitations/94a1bf817fd42ec852f693da30f685ddccb57a7c">Join our flow</a>
  <p>
    <a href="https://flowdock.com">Flowdock</a> has graciously given us a platform to ask each other questions, plan future meetups, and just generally have a place for the community to interact between meetups.
    So use <a href="https://www.flowdock.com/invitations/94a1bf817fd42ec852f693da30f685ddccb57a7c">this link</a>
    to join the flow!
  </p>
  <h2>IRC</h2>
  <a href="http://webchat.freenode.net/">Join us</a> at
  <span>#indyrb</span>
  on freenode
</section>
