<section>
  <h1>Past Sponsors</h1>
  <div class="sponsors">

    <div class="sponsor">
      <div class="img-container">
        <a href="http://www.getfretless.com"><img src="/images/fretless_logo.png" style="width:200px;margin:0 8px 2px 0;padding:2px;"></a>
      </div>
      <p>
        <strong>
          Sponsored by Fretless
        </strong>
      </p>
      <p>
        <a href="http://www.getfretless.com" target="_blank">Fretless</a>
        automates businesses with quality software. We're a consultancy in Indianapolis that works with companies like yours to build solutions to automate and streamline your business.
      </p>
    </div>

    <div class="sponsor">
      <div class="img-container">
        <a href="http://www.lessonly.com/"><img src="/images/lessonly_logo.png" style="width:200px;margin:0 8px 2px 0;padding:2px;background-color: #292933"></a>
      </div>
      <p>
        <strong>
          Sponsored by Lessonly
        </strong>
      </p>
      <p>
        <a href="http://www.lessonly.com/" target="_blank">Lessonly</a>
        is modern learning software used by teams to translate important work knowledge into Lessons that accelerate productivity.
      </p>
    </div>

    <div class="sponsor">
      <div class="img-container">
        <a href="http://springbuk.com"><img src="/images/springbuk_logo.png" style="width:200px;margin:0 8px 2px 0"></a>
      </div>
      <p>
        <strong>
          Sponsored by Springbuk
        </strong>
      </p>
      <p>
        <a href="http://ourhealth.org" target="_blank">Springbuk</a>
        is a health analytics solution that offers a <strong>complete view</strong> of an employer population.
      </p>
    </div>
  </div>

 <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.4.0/slick.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      $('.sponsors').slick({
        autoplay: true,
        autoplaySpeed: 4000,
        arrows: false,
        fade: true,
        speed: 100
      });
    });
  </script>
</section>
