<section>
  <h1>Sponsors</h1>
  <div class="sponsors">
    <div class="sponsor">
      <div class="img-container">
        <a href="http://ourhealth.org"><img src="/images/ourhealth_logo.png" style="width:200px;margin:0 8px 2px 0"></a>
      </div>
      <p>
        <strong>
          Sponsored by OurHealth
        </strong>
      </p>
      <p>
        <a href="http://ourhealth.org" target="_blank">OurHealth</a>
        understands the value in referral guidance, health intelligence reporting, service excellence, integrated health management solutions, and a shared clinic model. Therefore, all of these differentiators are part of the approach that OurHealth takes to ensure complete client and patient satisfaction.
      </p>
    </div>
    <div class="sponsor">
      <div class="img-container">
        <a href="http://www.getfretless.com"><img src="/images/fretless_logo.png" style="width:160px;margin:0 8px 2px 0"></a>
      </div>
      <p>
        <strong>
          Sponsored by Fretless
        </strong>
      </p>
      <p>
        <a href="http://www.getfretless.com" target="_blank">Fretless</a>
        automates businesses with quality software. We're a consultancy in Indianapolis that works with companies like yours to build solutions to automate and streamline your business.
      </p>
    </div>
    <div class="sponsor">
      <div class="img-container">
        <a href="http://iasta.com"><img src="/images/iasta_logo.png" style="width:160px;margin:0 8px 2px 0"></a>
      </div>
      <p>
        <strong>
          Sponsored by iasta
        </strong>
      </p>
      <p>
        <a href="http://iasta.com" target="_blank">iasta</a>
        is dedicated to empowering sourcing and purchasing professionals. Our blend of acclaimed software and services provides the means to easily and effectively incorporate best-in-class procurement practices on a global scale.
      </p>
    </div>
    <div class="sponsor">
      <div class="img-container">
        <a href="http://flowdock.com"><img src="/images/flowdock_logo.png" style="width:160px;margin:0 8px 2px 0"></a>
      </div>
      <p>
        <strong>
          Sponsored by Flowdock
        </strong>
      </p>
      <p>
        <a href="http://flowdock.com" target="_blank">Flowdock</a>
        is a team collaboration app for desktop, mobile and web. Work on things that matter, be transparent and solve problems across tools, teams and time zones.
      </p>
    </div>
  </div>

 <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.4.0/slick.min.js"></script>

  <script type="text/javascript">
  $(document).ready(function(){
    $('.sponsors').slick({
      autoplay: true,
      autoplaySpeed: 4000,
      arrows: false,
      fade: true,
      speed: 100
    });
  });
  </script>
</section>
